<app-contacts></app-contacts>
<div id="overlay">
  <div class="popup-container">
          <form id="addContactForm" [formGroup]="signupForm" (ngSubmit)="createContact()">
              <div class="block">
            <label for="name">Name</label>
            <input formControlName="name" type="text" id="name" name="name" placeholder="Your name.." required>
            <span *ngIf="name.invalid && (name.dirty || name.touched)" id="nameRequired">
              *name is required
            </span>
              </div>
              <div class="block">
            <label for="email">Email</label>
            <input formControlName="email" type="text" id="email" name="email" placeholder="Your email.." required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            <span *ngIf="email.invalid && (email.dirty || email.touched)" id="emailRequired">
              *email is required
            </span>
          </div>
            <div class="content">
            <div class="list-content">
            <label for="mobile">Mobile</label>
            <input formControlName="mobile" type="text" id="mobile" name="mobile" placeholder="Your mobile.." required minlength="10"> 
            <span *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" id="mobileRequired">
                *mobile is required
            </span>
              </div>
          <div class="list-content">
            <label for="landline">Landline</label>
            <input  formControlName="landline" type="number" id="landline" name="landline" placeholder="Your landline..">
            <span *ngIf="landline.invalid && (landline.dirty || landline.touched)">
              *landline is required
            </span>
          </div>
          </div>
          <div class="block">
            <label for="website">website</label>
            <input formControlName="website" type="text" id="website" name="website" placeholder="Your website..">
            <span *ngIf="website.invalid && (website.dirty || website.touched)">
              *webiste is required
            </span>
          </div>
          <div class="block">
            <label for="subject">Address</label>
            <textarea formControlName="address" id="address" name="address" style="height:200px"></textarea>
            <span *ngIf="address.invalid && (address.dirty || address.touched)">
              *Address is rerquired
            </span>
          </div>
           <input id="addContactButton" type="submit" value="Add">
            <a routerLink="/index"><input id="cancel" type="button" value="Cancel"></a>
          </form>
        </div>
      </div>